---
http_interactions:
- request:
    method: post
    uri: https://api.pingen.com/document/send/id/804363203/token/PINGEN_API_TOKEN
    body:
      encoding: UTF-8
      string: '{"color":0,"speed":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":false,"id":84376190}'
  recorded_at: Wed, 23 Jun 2021 10:00:37 GMT
recorded_with: VCR 6.0.0
