---
http_interactions:
- request:
    method: get
    uri: https://api.pingen.com/document/get/id/804363203/token/<PINGEN_API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":false,"item":{"id":804363203,"filename":"WelcomeLetter-it.pdf","date":"2021-06-05
        15:16:01","user_id":137034325,"address":"Renuo AG\nIndustriestrasse 44, 8304 Wallisellen\nSvizzera","country":"CH","size":940171,"pages":1,"pagetype":[{"number":1,"type":1,"color":0}],"rightaddress":0,"status":1,"sent":1,"fileremoved":0,"requirement_failure":0}}'
  recorded_at: Tue, 22 Jun 2021 13:55:27 GMT
recorded_with: VCR 6.0.0
