---
http_interactions:
- request:
    method: post
    uri: https://api.pingen.com/document/send/id/303870085/token/PINGEN_API_TOKEN
    body:
      encoding: UTF-8
      string: '{"color":0,"speed":2}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message:
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":true,"errorcode":2016,"errormessage":"No valid country could
        be detected"}

        '
  recorded_at: Wed, 23 Jun 2021 10:02:36 GMT
recorded_with: VCR 6.0.0
