---
http_interactions:
- request:
    method: get
    uri: https://api.pingen.com/send/list/token/PINGEN_API_TOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":false,"page":1,"pages":1,"count":3329,"items":[{"id":12820303,"document_type":1,"document_id":352826190,"channel":1,"document_title":"d2150110-b7ee-4020-bccb-553614b831b4.pdf","date":"2021-06-29
        17:15:21","user_id":137034325,"speed":2,"color":0,"address":"Renuo NV NOK
        NOK\nIndustriestrasse 44\n8304 Wallisellen\nSchweiz","country":"CH","pages":1,"pagetype":[{"number":1,"type":1,"color":0}],"cost":1.4,"currency":"CHF","status":400},{"id":54297590,"document_type":1,"document_id":352826190,"channel":1,"document_title":"d2150110-b7ee-4020-bccb-553614b831b4.pdf","date":"2021-06-29
        13:19:10","user_id":137034325,"speed":2,"color":0,"address":"Renuo NV NOK
        NOK\nIndustriestrasse 44\n8304 Wallisellen\nSchweiz","country":"CH","pages":1,"pagetype":[{"number":1,"type":1,"color":0}],"cost":1.4,"currency":"CHF","status":400},{"id":58387178,"document_type":1,"document_id":389117082,"channel":1,"documen[...]
